.container
  .jumbotron
    h1 Chyno Logic
    p Welcome to CHyno Logic test application.  Here you can see all your successfull builds
  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")